img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-bottom: 0 !important;
}
.material-icons {
  vertical-align: top;
}