// 下拉選單樣式
.dropdown {
  .dropdown-menu {
    margin-top: 6px !important;
  }
  .dropdown-toggle::after {
    font-family: 'Material Icons';
    content: "expand_more";
    font-size: 24px;
    line-height: 1;
    color: $success;
    margin-left: 9px;
    vertical-align: middle;
    border: none;
  }
}
// nav-link hover
.nav-link:hover {
  opacity: 0.7;
}
// right-card
.card {
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    -o-object-fit: cover;
    flex-shrink: 0;
  }
  .code-style {
    color: $success;
    background: $gray-100;
    padding: 0 4px;
    border-radius: 2px;
  }
  .btn::before {
    font-family: 'Material Icons';
    content: "attach_file";
    font-size: 24px;
    font-weight: 400;
    margin:0 8px;
    vertical-align: middle;
  }
}